html, body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

.brand-logo {
    margin-left: 1rem;
    margin-top: -4px;
    font-size: 1.42rem !important;
    color: rgb(44, 44, 45) !important;
}

#slide-out > li:first-child {
    margin-top: 24px;
}

#slide-out > li > a {
    font-size: 0.9rem;
    font-weight: bold;
}

header,
main,
footer {
    padding-left: 0px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    height: 56px;
}

table {
    border-color: rgb(211,211,211);
}
    table > tbody > tr > td {
        vertical-align: middle;
        padding: 3px;
        font-size: 12px;
        color: rgb(85,85,85);
        font-weight: 600;
        border-color: rgb(233,233,233);
    }
    table > thead > tr > th {
        font-weight: 700;
        padding: 3px;
        font-size: 12px;
        background-color: rgb(221,224,226);
        color: rgb(85,85,85);
        border-color: rgb(211,211,211);
    }

.sidebar-collapse-slide:not(:focus) {
    left: 0px; 
    width: 300px;
    -webkit-animation: slide-reverse 0.2s forwards;
    -webkit-animation-delay: 0s;
    animation: slide-reverse 0.2s forwards;
    animation-delay: 0s;
}

.sidebar-show-slide:not(:focus) {
    left: -300px;            
    width: 300px;
    -webkit-animation: slide 0.3s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.3s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@-webkit-keyframes slide-reverse {
    from { left: 0; }
    to { left: -300px; }
}

@keyframes slide-reverse {
    from { left: 0; }
    to { left: -300px; }
}