@page "/"

 <div style="margin-top: 25vh; margin-left: auto; margin-right: auto; width: 45%">

            <div>

                <h1>Welcome to the Epi Info Dashboard</h1>
                <p style="line-height: 1.7rem; margin-bottom: 48px;">To get started, select the Add Data button below, or select a tool from our menu by
                    clicking the menu icon at the top left of the application. For existing projects, use
                    the Open Project button below or select from the saved projects drop-down menu.

                </p>

                <button role="button" class="waves-effect waves-light btn indigo" style="margin-right: 24px;">Add Data</button>

                <button role="button" class="waves-effect waves-light btn white">
                    <span class="indigo-text">Open Project</span></button>

            </div>
        </div>

<!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
