﻿@using System.Collections.Generic
@using Cdc.EpiInfo.Models

@inject HttpClient Http

<ul 
    id="slide-out" 
    class="sidenav sidenav-fixed @SidebarCollapseCssClass " 
    style="margin-top: 56px; margin-left: -16px; z-index: -1;">

    @foreach (var item in MenuItems)
    {
        @if (item.Type == MenuItemType.Link) 
        {
            <li><a class="waves-effect" href="@item.Href"><i class="material-icons">@item.Icon</i>@item.Name</a></li>
        }
        else if (item.Type == MenuItemType.Divider)
        {
            <li><div class="divider"></div></li>
        }
        else if (item.Type == MenuItemType.Header)
        {
            <li><a class="subheader">@item.Name</a></li>
        }
    }
</ul>

<nav>
    <div class="nav-wrapper white">

        <button 
            type="button"
            onclick=@ToggleSidebar
            class="btn-flat btn-floating btn-small waves-effect waves-light white" 
            style="margin-top: -12px; margin-left: 12px;">
            <i class="material-icons black-text">menu</i>
        </button>

        <a href="#" class="brand-logo">
            <img src="images/epiinfo.ico" height="32" width="32" alt="Epi Info Icon" style="margin-left: 5px; margin-top: 16px; margin-right: 8px; float: left;" />
            Epi Info Dashboard
        </a>
    </div>
</nav>

@functions {
    bool isShowingSidebar = true;

    public string SidebarCollapseCssClass = "";

    protected override async Task OnInitAsync()
    {
        MenuItems = await Http.GetJsonAsync<MenuItem[]>("sample-data/navmenu.json");
    }

    async void ToggleSidebar() 
    {
        isShowingSidebar = !isShowingSidebar;

        if (isShowingSidebar)
        {
            SidebarCollapseCssClass = "sidebar-show-slide";
        }
        else
        {
            SidebarCollapseCssClass = "sidebar-collapse-slide";
        }

        base.StateHasChanged();
    }

    public MenuItem[] MenuItems { get; set; } = {};
    
}